{% extends "base.html" %}

{% block content %}

<title>Links</title>
	
<div class="containter-fluid" style="margin-top:50px;">  
	<div class="row">
	    <div class="col-md-3 col-md-offset-2">
			<h4 class="link_header">forums<h4>
				<ul>
					<div class="links">	
						<li><a href="http://www.thetruckersreport.com/" target="_blank">Truckers Report</a></li>
						<li><a href="https://www.reddit.com/r/Trucking/" target="_blank">/r/Trucking</a></li>
						<li><a href="https://www.truckersforum.net/forum/" target="_blank">Truckers Forum</a></li>
						<li><a href="www.truckingboards.com/" target="_blank">Truckingboards</a></li>
						<li><a href="www.classadrivers.com/forum/" target="_blank">Class A Driver Forum</a></li>
						<li><a href="www.lifeasatrucker.com/Truckers-Forums.html" target="_blank">Life as a Trucker</a></li>
						<li><a href="www.truckingtruth.com/truckers-forum/" target="_blank">Trucking Truth</a></li>
						<li><a href="www.roadtrucker.com/forum/" target="_blank">Road Trucker</a></li>
						<li><a href="www.layover.com/community/" target="_blank">Layover.com</a></li>
						<li><a href="truckerslogic.com/forums/" target="_blank">TruckersLogic</a></li>
					</div>
				</ul>
			<h4 class="link_header">dot<h4>
				<ul>
					<div class="links">	
						<li><a href="http://www.fmcsa.dot.gov/" target="_blank">FMCSA</a></li>
						<li><a href="http://www.fhwa.dot.gov/webstate.cfm" target="_blank">State Transportation Sites</a></li>
						<li><a href="http://dmv.dc.gov/sites/default/files/dc/sites/dmv/publication/attachments/cdl_manual.pdf" target="_blank">CDL Manual</a></li>
						<li><a href="http://www.dmv.org/articles/how-to-apply-for-a-hazardous-materials-endorsement/?pos=0&wskw=wskw%3Dhazmat%20manual" target="_blank">How to Apply for a HazMat Endorsement</a></li>

					</div>
				</ul>
		</div>
		<div class="col-md-3">
			<h4 class="link_header">medical<h4>
				<ul>
					<div class="links">
						<li><a href="http://www.fmcsa.dot.gov/regulations/medical" target="_blank">DOT Medical Overview</a></li>
						<li><a href="http://www.fmcsa.dot.gov/medical/driver-medical-requirements/driver-exemption-programs" target="_blank">Medical Exemption Programs</a></li>
					</div>
				</ul>		
			<h4 class="link_header">new drivers<h4>
				<ul>
					<div class="links">		
						<li><a href="http://www.roadmaster.com/blog/10-tips-for-new-truck-drivers/" target="_blank">Tips for New Drivers</a></li>
						<li><a href="http://www.roadmaster.com/blog/how-to-pick-a-cdl-training-school-3-steps/" target="_blank" target="_blank">How to Choose a CDL School</a></li>
						<li><a href="http://cdltest.co/" target="_blank">Practice Tests</a></li>
						<li><a href="http://www.truckingtruth.com/schools/" target="_blank">CDL Schools by State</a></li>
						<li><a href="http://www.fmcsa.dot.gov/registration/commercial-drivers-license/drivers" target="_blank">CDL CDL Overview</a></li>

					</div>	
				</ul>
		</div>
		<div class="col-md-3">	
			<h4 class="link_header">jobs<h4>
				<ul>
					<div class="links">	
						<li><a href="http://www.findatruckingjob.com/" target="_blank">Find a Trucking Job</a></li>
					</div>
				</ul>
		</div>
	</div>
</div>		
	


{% endblock %}