{% extends "base.html" %}
{% block content %}
<html>
  <head>
    <title>Get Weather</title>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

var celsius = true;

function draw_text(context,text,x,y) 
{
    context.font = 'normal 18pt Helvetica';

   context.fillStyle = "black";
   context.fillText(text, x, y);

}

function day_text(context,text,x,y) 
{
    context.font = 'normal 24pt Trebuchet MS';

   context.fillStyle = "black";
   context.fillText(text, x, y);

}

function temp_text(context,text,x,y) 
{
    context.font = 'normal 14pt Trebuchet MS';

   context.fillStyle = "white";
   context.fillText(text, x, y);

}

function draw_rect_high(context,x,y,width,height)
{
    context.fillStyle = "#888888";
    context.fillRect(x, y, width, height);

}

function draw_rect_low(context,x,y,width,height)
{
    context.fillStyle = "#6D9BF1";
    context.fillRect(x, y, width, height);

}


function init()
{

    //http://www.html5canvastutorials.com/
    var canvas = document.getElementById('weather_canvas');
    var context = canvas.getContext('2d');


    // draw_text(context,"A Visual Representation of Your Weather with Rectangles!",10,100);


    // canvas.addEventListener("mousedown", on_click());

   // canvas.addEventListener("mousedown", false);
}

</script>


<script type="text/javascript">


var forecast_url_base = "http://api.openweathermap.org/data/2.5/forecast/daily?mode=json&units=imperial";



function get_weather_data(url,callback_function)
{

    $.ajax({
  url: url,
  success : callback_function,
        error: function () { alert("Error Fetching Data")}});
}

function process_weather_data(data)
{
    console.log("Process Weather Data");
    var canvas = document.getElementById('weather_canvas');
    var context = canvas.getContext('2d');
    var table = document.getElementById('results_div');
    // var table_html = "<table style='width:100%'><tr><td>Day</td><td>High</td><td>Low</td><td>Description</td></tr>"
    var city = data.city['name']
    console.log(city)

    //if celsius then nothing
    //else
    //celsius = !celsius;
    // draw_text(context,"A Visual Representation of Your Weather with Rectangles!",10,100);
    var list = data.list;
    var day = 0;
    var x = 345
    for (obj in list) {
      day++;
      var days = list[obj];
      var temp = days['temp'];
      var tempmax = temp['max'];
      var tempmin = temp['min'];
      console.log(tempmax,tempmin);
      var weather = days['weather']['0'];
      var description = weather['description'];
      console.log(description);
      day_text(context, city,345,90)
      day_text(context, "Day"+day,x+5,355)
      draw_rect_high(context,x,320,75,2*(tempmax * -1));
      temp_text(context, tempmax,x+15,315)
      draw_rect_low(context,x,365,75,2*(tempmin));
      temp_text(context, tempmin,x+15,390)
      x += 85
      
    }
    

}


function get_inputs_then_fetch()
{

    var city = document.getElementById('city');
    var city_value = city.value;

    if (city_value.length == 0) {
      alert("Please enter a city.");
    };

    forecast_url = forecast_url_base + "&q=" + city_value + "&cnt=7"
    console.log(city_value,forecast_url);
    
    get_weather_data(forecast_url,process_weather_data);
}

function on_click()
{
celsius = !celsius;
get_inputs_then_fetch();
}
</script>


<body>

<div align="center" style="margin-top:100px;">
  <h2>Check weather for</h2><br>
  <input id="city" placeholder="Type a City Name"><br>
  <button class="button" style="margin-top: 30px;height:50px;width:250px;font-size:25px;" onclick="get_inputs_then_fetch()">Get Weather</button>
</div>    

<div class="containter-fluid">  
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div id="results_div"></div>
      </div>
    </div>
</div>      

</body>



<body onload="init();">

<canvas id="weather_canvas" width="1000" height="600"></canvas>

</body>
</html>
{% endblock %}
