#welcome {
	margin-top: 100px;
	text-align: center;
}

#zip1 {
	text-align: center;
}

#zip2 {
	width:152px;
	height: 26px;
	font-size: 13px;
	text-align: center;

}

#city {
	text-align: center;
}

#quiz {
	margin-left: 100px;
	padding-left: 40px;
	border-left-style: solid;

}

.answer {
	margin-left: 40px;
	padding-left: 10px;
}

#login {
	margin-top: 50px;
	text-align: center;
	padding: 10px 30px;
	width: 300px;
	border: 1px solid #888888; 
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888
}

.button {
	background-color: #6D9BF1;
	color: white;
	height: 26px;
	width: 152px;
	border: none;
	border-radius: 2px;
}

#co_result {
	margin-top: 50px;
	text-align: center;
	padding: 10px 30px;
	border: 1px solid #888888; 
	border-radius: 5px;
	box-shadow: 10px 10px 5px #888888;
	position: relative;
}

.link_header {
	color: #888888;
	margin-top: 50px;
	display: inline-block;
}

.links {
	font-size: 15px;
	list-style-type: none;
}

#co_img {
	height: 100px;
	width: 300px;
	float: left;
}

#logo {
	margin-right: 0px;
	float:right;
}

.social_icons {
	height: 50px;
	width: 50px;
	margin-top: 100px;
	opacity: 0.4;
}

.social_icons:hover {
	opacity: 1.0;

}



